.nav {
  display: flex;
  list-style: none;
  width: 40vw;
  justify-content: space-between;
}

#nav-link:visited {
  text-decoration: none;
  color: rgb(231, 207, 162);
}

#nav-link.active {
  color: rgb(238, 110, 110);
  display: flex;
  justify-content: flex-end;
}

#nav-link {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
} 

.nav-item {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  -webkit-animation-name: pop-on-hover;
  animation-name: pop-on-hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


@media (max-width: 589px) {
  .nav {
    flex-direction: column;
  }
}
