.headerParent {
  background-color: #494850;
  height: "20vh";
  display: flex;
  justify-content: space-between;
  padding: 2vw;
}

#header-text {
  font-size: 50px;
  color: rgb(210, 227, 231);
  margin: 20px 0px 20px 0px;
}
